<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/favicon.ico" />
    <title>Home</title>
  </head>
  <body>
    <div class="container-flex">
      <div class="head-container">
        <head>
          <p id="title">
            <a href="/">QUOTE_MAKER</a>
          </p>
          <p id="link">
            <a href="/api/login">Login</a>
            <span style="color: white; font-weight: bold;">|</span>
            <a href="/api/register">Register</a>
          </p>
        </head>
      </div>

      <div class="jumbotron">
        <h1 id="title">QUOTE MAKER</h1>
        <p>MAKE YOUR OWN QUOTE AND SHARE IT WITH FRIENDS!</p>
        <a href="/api/register">
          <button><p>START NOW</p></button></a
        >
      </div>

      <footer>
        <p>
          <a href="https://rebrand.ly/codebros" target="_blank"
            >&copy; A product of Khoi Nguyen</a
          >
        </p>
      </footer>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
