* {
  padding: 0;
  margin: 0;
}

/* Style .head-container */
.head-container {
  background-color: black;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}
.head-container #title {
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  color: white;
}
.head-container #title a {
  color: white;
  text-decoration: none;
}
.head-container #link {
  position: relative;
  text-align: right;
  grid-row: 0 / 1;
  font-size: medium;
  right: 10%;
  padding-top: 2.5px;
}
.head-container #link a {
  color: white;
}

/* Style login-form */
.login-form {
  text-align: center;
}
.login-form #form-title {
  font-weight: bold;
  font-size: xx-large;
  padding-top: 3%;
}
.login-form label {
  font-weight: bold;
}
.login-form input {
  margin: 2%;
}
.login-form button {
  border: 3px solid black;
  background-color: white;
  cursor: pointer;
  padding: 1%;
}
.login-form button p {
  font-weight: bold;
  margin-bottom: 0;
}
.login-form #sign-up {
  padding-top: 1%;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
}

/* Style footer */
footer {
  text-align: center;
  font-weight: bold;
  padding-top: 3%;
  text-decoration: underline;
}
footer a {
  color: black;
}
